@import "base/var";
@import "components/nav";
@import "components/clock";
@import "components/controls";




.display-flex
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.transition-3
{
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.bt
{
  font-family:'bitter';
}
.row{
  max-width: none;
  // background-color: red;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

}
.inner-div
{
  height: 100%;
  width: 300px;

  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown
{

  width: 300px;
  // background-color: blue;


}
// @media(max-width:992px){
//
//   .row
//   {
//     height: calc(100vh - 100px);
//   }
// }
