@import "base/var";
@import "components/nav";
@import "components/clock";
@import "components/controls";




.display-flex
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bt
{
  font-family:'bitter';
}
