// Navigation
$nav-background: rgba(47,47,47,.8);

// CLOCK variables
$clock-text-color: rgba(102,102,102,.7);
$clock-bg-color: rgba(15,101,141,.3);
$clock-border-color: rgba(15,101,141,.6);
$clock-box-shadow: 0px 0px 15px 1px rgba(15,101,141,.5);
