.clock{
  align-items: center;
  background-color: $clock-bg-color;
  border : 0px solid $clock-border-color;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 14rem;
  margin: 4rem auto;
  margin-top: 2rem;
  width : 14rem;
  -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
   box-shadow: $clock-box-shadow;
}

.clock-text{
  color: $clock-text-color;
  font-size: 3rem;
  font-weight: bolder;
  cursor: default;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}
